{% extends "dashboard/base.html"%}
{% load static%} 
{% block title %}
<a class="nav-link waves-effect waves-dark"  href="{% url 'sites' %}" >                  
  <span class="d-none d-md-block text-uppercase">{{site.designation}}</span>
</a>
{% endblock title %}
{% block content %}
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="page-content container-fluid">
  <div class="card">
    <div class="card-header text-center text-uppercase">
    <h5>
        <a  id="aprevmonth" href="{% url 'equipementintervention' site.id equipement.id %}?{{ prev_month }}" class="button btn-text text-dark" >
          <i data-feather="chevrons-left" class="feather-sm fill-white me-2" ></i>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{tm}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="anextmonth" href="{% url 'equipementintervention' site.id equipement.id %}?{{ next_month }}" class="button btn-text text-dark" >
          <i data-feather="chevrons-right" class="feather-sm fill-white me-2" ></i>
        </a>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center px-3 py-4 border-bottom">
            <div>
              <h4 class="card-title">{{equipement.designation}}</h4>
            </div>
          </div>
        </div>
        <div class="table-responsive" >
          <table class="table mb-0  recent-table">
            <thead class="bg-light-secondary">
              <tr>
                <th style="width: 85%" scope="col" class="border-0 fs-4 font-weight-medium ps-4" >
                  Maintenance Préventive 
                </th>
                <th style="width: 15%" scope="col" class="border-0 fs-4 font-weight-medium ps-4" >
                  </th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ps-4">
                      <h5 class="font-weight-medium mb-0">           
                      </h5>
                    </td>
                    <td>
                    </td>
                </tr>
              {% for intervention in interventions %}
              <tr>
                <td class="ps-4">
                  <h5 class="font-weight-medium mb-0">
                    Objet : {{intervention.planification.objet}}<br><br>
                    Statut : 
                    {% if intervention.statut == 'Enregistrée'  %}
                    <span class="badge text-secondary font-weight-medium bg-light-secondary label-rouded " >Enregistrée</span><br><br>
                    {% endif %}
                    {% if intervention.statut == 'Pris en charge'  %}
                    <span class="badge text-info font-weight-medium bg-light-info label-rouded " >En Charge</span><br><br>
                    {% endif %}
                    {% if intervention.statut == 'Travaux en cours'  %}
                    <span class="badge text-warning font-weight-medium bg-light-warning label-rouded " >En Cours</span><br><br>
                    {% endif %}
                    {% if intervention.statut == 'Pending'  %}
                    <span class="badge text-warning font-weight-medium bg-light-warning label-rouded " >En Cours</span><br><br>
                    {% endif %}
                    {% if intervention.statut == 'Résolue'  %}
                    <span class="badge text-success font-weight-medium bg-light-success label-rouded " >Résolue</span><br><br>
                    {% endif %}
                    Date  : {{intervention.datecharge|date:"d/m/Y"}}                  
                  </h5>
                </td>
                <td>
                  <a href="{% url 'intervention' site.id intervention.id %}" class="text-info edit" >
                    <i data-feather="eye" class="feather-sm fill-white" ></i>
                  </a>
                </td>
              </tr>
              {% endfor %}              
            </tbody>
          </table>
          <table class="table mb-0  recent-table">
            <thead class="bg-light-secondary">
              <tr>
                <th style="width: 85%" scope="col" class="border-0 fs-4 font-weight-medium ps-4" >
                  Maintenance Curative 
                </th>
                <th style="width: 15%" scope="col" class="border-0 fs-4 font-weight-medium ps-4" >
                  </th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ps-4">
                      <h5 class="font-weight-medium mb-0">           
                      </h5>
                    </td>
                    <td>
                    </td>
                </tr>
              {% for tache in taches %}
              <tr>
                <td class="ps-4">
                  <h5 class="font-weight-medium mb-0">
                    Objet : {{tache.objet}} {{tache.objet}} <br><br>
                    Statut :                     
                    {% if tache.statut == 'Enregistrée'  %}
                    <span class="badge text-secondary font-weight-medium bg-light-secondary label-rouded " >Enregistrée</span><br><br>
                    {% endif %}
                    {% if tache.statut == 'Pris en charge'  %}
                    <span class="badge text-info font-weight-medium bg-light-info label-rouded " >En Charge</span><br><br>
                    {% endif %}
                    {% if tache.statut == 'Travaux en cours'  %}
                    <span class="badge text-warning font-weight-medium bg-light-warning label-rouded " >En Cours</span><br><br>
                    {% endif %}
                    {% if tache.statut == 'Pending'  %}
                    <span class="badge text-warning font-weight-medium bg-light-warning label-rouded " >En Cours</span><br><br>
                    {% endif %}
                    {% if tache.statut == 'Résolue'  %}
                    <span class="badge text-success font-weight-medium bg-light-success label-rouded " >Résolue</span><br><br>
                    {% endif %}
                    Date  : {{tache.datecharge|date:"d/m/Y"}}                        
                  </h5>
                </td>
                <td>
                  <a href="{% url 'fichecurative' tache.id %}" class="text-info edit" >
                    <i data-feather="eye" class="feather-sm fill-white" ></i>
                  </a>
                </td>
              </tr>
              {% endfor %}              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->

{% endblock content %}

{% block footer %}

{% endblock footer %}
