{% extends "dashboard/base.html"%}
{% load static%} 
{% block title %}
<a class="nav-link waves-effect waves-dark"  href="{% url 'sites' %}" >                  
  <span class="d-none d-md-block">ADMINISTRATION</span>
</a>
{% endblock title %}
{% block content %}
<!-- ============================================================== -->
<!-- Tab Section -->
<!-- ============================================================== -->
<div class="col-md-12">         
  <div class="card">
    <div class="card-body">
      <!-- Nav tabs -->
      <ul class="nav nav-pills flex-column flex-sm-row" role="tablist" >
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link active" href="{% url 'sites' %}" >
            <span><i class="mdi mdi-sitemap "></i>  Sites</span>
          </a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="{% url 'collabs' %}" >
            <span><i class="mdi mdi-account-multiple "></i>  Collaborateurs</span>
          </a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="{% url 'lotequipements' %}" >
            <span><i class="mdi mdi-settings"></i>  Equipements</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb border-bottom">
  <div class="row">
      <div class=" col-lg-3 col-md-4 col-xs-12 justify-content-start d-flex align-items-center ">
          <h5 class="font-weight-medium text-uppercase mb-0">{{site.designation}}</h5>
      </div>
      <div class=" col-lg-9 col-md-8 col-xs-12 d-flex justify-content-start justify-content-md-end align-self-center " >
          <nav aria-label="breadcrumb" class="mt-2">
              <ol class="breadcrumb mb-0 p-0">
                  <li class="breadcrumb-item">Administration</li>
                  <li class="breadcrumb-item " aria-current="page">
                    Sites
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Informations Générales
                  </li>
              </ol>
          </nav>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="page-content container-fluid">
{% if messages %}
  {% for message in messages%}
    <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center px-3 py-4 border-bottom">
          <div>
            <h4 class="card-title">Intervenants</h4>
          </div>
          <div class="ms-auto">
            <a class="btn btn-circle btn-success text-white " href="{% url 'siteaddintervenant' site.id %}" >
              <i class="ti-plus"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="table-responsive" >
        <table class="table no-wrap user-table mb-0">
          <thead class="table-light">
            <tr>
              <th style="width: 90%" scope="col" class="border-0 fs-4 font-weight-medium ps-4" >
                Nom & Prénom 
              </th>
              <th style="width: 10%" scope="col" class="border-0 fs-4 font-weight-medium" >
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            {% for intervenant in intervenants %}
            <tr>
              <td class="ps-4">
                <h5 class="font-weight-medium mb-0">
                  {{intervenant.first_name}} {{intervenant.last_name}}
                </h5>
              </td>
              <td>
                <a href="{% url 'updatecollab' intervenant.id %}"class="text-dark delete ms-2" >
                  <i data-feather="edit" class="feather-sm fill-white" ></i>
                </a>
                <a href="{% url 'deletecollab' intervenant.id %}"class="text-danger delete ms-2" >
                  <i data-feather="trash-2" class="feather-sm fill-white" ></i>
                </a>
              </td>
            </tr>
            {% endfor %}              
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center px-3 py-4 border-bottom">
            <div>
              <h4 class="card-title">Responsables</h4>
            </div>
            <div class="ms-auto">
              <a class="btn btn-circle btn-success text-white " href="{% url 'siteaddresponsable' site.id %}" >
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="table-responsive" >
          <table class="table no-wrap user-table mb-0">
            <thead class="table-light">
              <tr>
                <th style="width: 90%" scope="col" class="border-0 fs-4 font-weight-medium ps-4" >
                  Nom & Prénom 
                </th>
                <th style="width: 10%" scope="col" class="border-0 fs-4 font-weight-medium" >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              {% for responsable in responsables %}
              <tr>
                <td class="ps-4">
                  <h5 class="font-weight-medium mb-0">
                    {{responsable.first_name}} {{responsable.last_name}}
                  </h5>
                </td>
                <td>
                  <a href="{% url 'updatecollab' responsable.id %}"class="text-dark delete ms-2" >
                    <i data-feather="edit" class="feather-sm fill-white" ></i>
                  </a>
                  <a href="{% url 'deletecollab' responsable.id %}"class="text-danger delete ms-2" >
                    <i data-feather="trash-2" class="feather-sm fill-white" ></i>
                  </a>
                </td>
              </tr>
              {% endfor %}              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center px-3 py-4 border-bottom">
            <div>
              <h4 class="card-title">Clients</h4>
            </div>
            <div class="ms-auto">
              <a class="btn btn-circle btn-success text-white" href="{% url 'siteaddclient' site.id %}" >
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="table-responsive" >
          <table class="table no-wrap user-table mb-0">
            <thead class="table-light">
              <tr>
                <th style="width: 90%" scope="col" class="border-0 fs-4 font-weight-medium ps-4" >
                  Nom & Prénom 
                </th>
                <th style="width: 10%" scope="col" class="border-0 fs-4 font-weight-medium" >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              {% for client in clients %}
              <tr>
                <td class="ps-4">
                  <h5 class="font-weight-medium mb-0">
                    {{client.first_name}} {{client.last_name}}
                  </h5>
                </td>
                <td>
                  <a href="{% url 'updatecollab' client.id %}"class="text-dark delete ms-2" >
                    <i data-feather="edit" class="feather-sm fill-white" ></i>
                  </a>
                  <a href="{% url 'deletecollab' client.id %}"class="text-danger delete ms-2" >
                    <i data-feather="trash-2" class="feather-sm fill-white" ></i>
                  </a>
                </td>
              </tr>
              {% endfor %}              
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center px-3 py-4 border-bottom">
          <div>
            <h4 class="card-title">Zones</h4>
          </div>
          <div class="ms-auto">
            <a class="btn btn-circle btn-success text-white " href="{% url 'newzone' site.id %}" >
              <i class="ti-plus"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="table-responsive" >
        <table class="table no-wrap user-table mb-0">
          <thead class="table-light">
            <tr>
              <th  style="width: 50%" scope="col" class="border-0 fs-4 font-weight-medium ps-4" >
                Désignation 
              </th>
              <th  style="width: 40%" scope="col" class="border-0 fs-4 font-weight-medium" >
                Libellé
              </th>
              <th  style="width: 10%" scope="col" class="border-0 fs-4 font-weight-medium" >
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            {% for zone in zones %}
            <tr>
              <td class="ps-4">
                <h5 class="font-weight-medium mb-0">
                  {{zone.designation}}
                </h5>
              </td>
              <td>
                {{ zone.libelle }}
              </td>
              <td>
                <a href="{% url 'updatezone' zone.id %}" class="text-dark delete ms-2" >
                  <i data-feather="edit" class="feather-sm fill-white" ></i>
                </a>
                <a href="{% url 'deletezone' zone.id %}"class="text-danger delete ms-2" >
                  <i data-feather="trash-2" class="feather-sm fill-white" ></i>
                </a>
              </td>
            </tr>
            {% endfor %}              
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center px-3 py-4 border-bottom">
          <div>
            <h4 class="card-title">QR Codes</h4>
          </div>
        </div>
      </div>      
      <div class="table-responsive" >
        <table class="table no-wrap user-table mb-0">
          <tbody>
            <tr>
              <td class="ps-4">
                <h5 class="font-weight-medium mb-0">
                 Maintance Equipement
                </h5>
              </td>
              <td>
                <a class="btn btn-circle btn-success text-white " href="{% url 'getqr' site.id %}" >
                  <i class="ti-plus"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="ps-4">
                <h5 class="font-weight-medium mb-0">
                 Ronde Maintenance Equipement
                </h5>
              </td>
              <td>
                <a class="btn btn-circle btn-success text-white " href="{% url 'getrondeqr' site.id %}" >
                  <i class="ti-plus"></i>
                </a>
              </td>
            </tr>              
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->

{% endblock content %}

{% block footer %}

{% endblock footer %}
