{% extends "dashboard/base.html"%}
{% load static%} 
{% load crispy_forms_tags %}

{% block title %}
<a class="nav-link waves-effect waves-dark"  href="{% url 'sites' %}" >                  
  <span class="d-none d-md-block">ADMINISTRATION</span>
</a>
{% endblock title %}

{% block content %}
<!-- ============================================================== -->
<!-- Tab Section -->
<!-- ============================================================== -->

<div class="col-md-12">         
  <div class="card">
    <div class="card-body">
      <!-- Nav tabs -->
      <ul class="nav nav-pills flex-column flex-sm-row" role="tablist" >
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link active" href="{% url 'sites' %}" >
            <span><i class="mdi mdi-sitemap "></i>  Sites</span>
          </a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="{% url 'collabs' %}" >
            <span><i class="mdi mdi-account-multiple "></i>  Collaborateurs</span>
          </a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="{% url 'lotequipements' %}" >
            <span><i class="mdi mdi-settings"></i>  Equipements</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb border-bottom">
  <div class="row">
      <div class=" col-lg-3 col-md-4 col-xs-12 justify-content-start d-flex align-items-center ">
          <h5 class="font-weight-medium text-uppercase mb-0">Nouveau Site</h5>
      </div>
      <div class=" col-lg-9 col-md-8 col-xs-12 d-flex justify-content-start justify-content-md-end align-self-center " >
          <nav aria-label="breadcrumb" class="mt-2">
              <ol class="breadcrumb mb-0 p-0">
                  <li class="breadcrumb-item">Administration</li>
                  <li class="breadcrumb-item">Sites</li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Nouveau
                  </li>
              </ol>
          </nav>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="page-content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="row pt-3">
              <div class="col-md-8">
                <div class=" ">
                  {{form.designation|as_crispy_field}}                
                </div>
              </div>
              <div class="col-md-4">
                  <div class="">
                    {{form.libelle|as_crispy_field}}
                  </div>
              </div>
            </div>
            <div class="form-actions">
              <div class="card-body">              
                <div class="d-flex align-items-center p-4">
                  <div class="ms-auto">
                    <button type="submit" class="btn btn-success rounded-pill px-4 float-right" >
                      <div class="d-flex align-items-center">
                        <i data-feather="save" class="feather-sm me-1 fill-icon" ></i> Enregistrer
                      </div>
                    </button>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->

{% endblock content %}

{% block footer %}

{% endblock footer %}
