{% extends "dashboard/base.html"%}
{% load static%} 
{% block title %}
<a class="nav-link waves-effect waves-dark"  href="{% url 'sites' %}" >                  
  <span class="d-none d-md-block text-uppercase ">{{site.designation}}</span>
</a>
{% endblock title %}
{% block content %}
<!-- ============================================================== -->
<!-- Tab Section -->
<!-- ============================================================== -->
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <!-- Nav tabs -->
      <ul class="nav nav-pills flex-column flex-sm-row" role="tablist">
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="{% url 'sitehome' site.id %}">
            <span><i data-feather="grid" class="feather-sm fill-white mb-1" ></i> Tableau de Bord</span>
          </a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <div class="btn-group btn-group-sm" role="group">
            <a
              id="btnGroupDrop1"
              type="button"
              class="nav-link active dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span><i data-feather="check-square" class="feather-sm fill-white mb-1" ></i> Maintenance Site </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a
                class="dropdown-item text-primary"
                href="{% url 'curative' site.id %}"
              >
                <span>Maintenance Curative</span>
              </a>
              <a
                class="dropdown-item text-primary"
                href="{% url 'preventive' site.id %}"
              >
                <span>Maintenance Préventive</span>
              </a>
              <a
                class="dropdown-item text-primary"
                href="{% url 'cout' site.id %}"
              >
                <span>Suivi Financier</span>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="{% url 'ronde' site.id %}">
            <span><i data-feather="check-circle" class="feather-sm fill-white mb-1" ></i> Rondes Techniques</span>
          </a>
        </li>      
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="{% url 'stock' site.id %}">
            <span><i data-feather="edit" class="feather-sm fill-white mb-1" ></i> Demande Intervention</span>
          </a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link " href="{% url 'detailsite' site.id %}">
            <span><i data-feather="sliders" class="feather-sm fill-white mb-1" ></i> Administration</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb border-bottom">
  <div class="row">
      <div class=" col-lg-3 col-md-4 col-xs-12 justify-content-start d-flex align-items-center ">
          <h5 class="font-weight-medium text-uppercase mb-0">{{site.designation}}</h5>
      </div>
      <div class=" col-lg-9 col-md-8 col-xs-12 d-flex justify-content-start justify-content-md-end align-self-center " >
          <nav aria-label="breadcrumb" class="mt-2">
              <ol class="breadcrumb mb-0 p-0">
                  <li class="breadcrumb-item">Maintenance Site</li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Suivi Financier
                  </li>
              </ol>
          </nav>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="page-content container-fluid">
{% if messages %}
  {% for message in messages%}
    <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
  <!-- Liste des interventions  -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card ">
        <div class="card-body">
          <div class="d-flex align-items-center px-3 py-4 border-bottom">
            <div>
              <h4 class="card-title">Suivi Financier</h4>
            </div>
            <div class="ms-auto">
              <a class="btn btn-circle btn-secondary text-white" data-bs-toggle="collapse" href="#collapseExample"
                    role="button" aria-expanded="false" aria-controls="collapseExample" > 
                    <i class="ti-filter"></i>
              </a>     
            </div>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <form id="curativeFilter" method="get" data-souslot-url="{% url 'loadsouslot' %}" data-categorie-url="{% url 'loadcategorie' %}" data-equipement-url="{% url 'loadequipement' %}">
                {% csrf_token %}
                <div class="row pt-3">
                  <div class="col-md-6">
                    <div class=" ">
                      <h6>Nature Intervention</h6> 
                      <div class="">
                        <select class="form-control ">
                          <option value="">-------</option>
                          <option value="">Curative</option>                          
                          <option value="">Préventive</option>
                        </select>
                      </div>                                     
                    </div>
                  </div>                  
                  <div class="col-md-6">
                    <div class=" ">
                      <h6>Zone</h6> 
                      {{filter.form.zone}}                
                    </div>
                  </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-6">
                        <div class=" ">
                          <h6>Date Début</h6> 
                          {{filter.form.datedebut}}                
                        </div>
                    </div>                  
                    <div class="col-md-6">
                      <div class=" ">
                        <h6>Date Fin</h6> 
                        {{filter.form.datefin}}                
                      </div>
                    </div>
                  </div>
                <div class="row pt-3">
                  <div class="col-md-3">
                    <div class=" ">
                      <h6>Lot</h6> 
                      {{filter.form.lot}}                
                    </div>
                  </div>
                  <div class="col-md-3">
                      <div class="">
                        <h6>Sous Lot</h6> 
                        {{filter.form.souslot}}
                      </div>
                  </div>
                  <div class="col-md-3">
                    <div class=" ">
                      <h6>Catégorie</h6> 
                      {{filter.form.categorie}}                
                    </div>
                  </div>
                  <div class="col-md-3">
                      <div class="">
                        <h6>Equipement</h6> 
                        {{filter.form.equipement}}
                      </div>
                  </div>
                </div>
                <div class="form-actions">
                  <div class="card-body">              
                    <div class="d-flex align-items-center p-4">
                      <div class="ms-auto">
                        <button type="submit" class="btn btn-secondary rounded-pill px-4 float-right" >
                          <div class="d-flex align-items-center">
                            Filtrer
                          </div>
                        </button>
                      </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="p-3">          
          
            <div class="table-responsive scrollable" style="height: 531px">
                <table class="table mb-0 recent-table table-hover">
                  <thead class="bg-light">
                    <tr>
                      <th width="40%">Désignation</th>
                      <th width="10%">Nature</th>
                      <th width="10%">Equipement</th>
                      <th width="10%">Zone</th>
                      <th width="10%">Date</th>
                      <th width="15%">Coût</th>
                      <th width="5%">P.J</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="txt-oflo">
                        INSTALLATION DES ONDULEURS 3KVA 
                      </td>
                      <td class="txt-oflo">Curative</td>
                      <td class="txt-oflo">Ond.Z-3</td>
                      <td>
                        <span class="txt-oflo">Z-3</span>
                      </td>
                      <td><span class="txt-oflo">18/09/2022</span></td>
                      <td><span class="txt-oflo">13 490,00 DH</span></td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-text text-light-secondary"
                        >
                          <i
                            data-feather="link"
                            class="feather-sm fill-white text-secondary"
                          ></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="txt-oflo">
                        MPM.GE-Z2
                      </td>
                      <td class="txt-oflo">Préventive</td>
                      <td class="txt-oflo">GE.Z-2</td>
                      <td><span class="txt-oflo">Z-2</span></td>
                      <td><span class="txt-oflo">18/09/2022</span></td>                      
                      <td><span class="txt-oflo">-</span></td>
                      <td>
                        <button
                          type="button"
                          class="btn text-light-secondary btn-text"
                        >
                        <i
                        data-feather="link"
                        class="feather-sm fill-white text-secondary"
                      ></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="txt-oflo">
                        DÉMARRAGE À VIDE DU GROUPE ÉLECTROGÈNE CATERPILLAR
                      </td>
                      <td class="txt-oflo">Curative</td>
                      <td class="txt-oflo">GE-CAT.Z-3</td>
                      <td><span class="txt-oflo">Z-3</span></td>
                      <td><span class="txt-oflo">20/09/2022</span></td>
                      <td><span class="txt-oflo">2 543,10 DH</span></td>
                      <td>
                        <button
                          type="button"
                          class="btn text-light-secondary btn-text"
                        >
                        <i
                        data-feather="link"
                        class="feather-sm fill-white text-secondary"
                      ></i>
                        </button>
                      </td>
                    </tr>
                    <tr class="bg-light " >
                        <td colspan="5" ><h5> TOTAL : </h5></td>
                        <td colspan="2" ><h5> 16 833,40 DH</h5></td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->

{% endblock content %}

{% block footer %}

<script type="text/javascript">

  $("#id_lot").change(function () {
       var url = $("#curativeFilter").attr("data-souslot-url");  
       var lotid = $(this).val();   
       $.ajax({                       
         url: url,                    
         data: {
           'lotid': lotid       
         },
         success: function (data) {  
           $("#id_souslot").html(data);  
         }
       }); 
     });
 
     $("#id_souslot").change(function () {
       var url = $("#curativeFilter").attr("data-categorie-url");  
       var souslotid = $(this).val();   
       $.ajax({                       
         url: url,                    
         data: {
           'souslotid': souslotid       
         },
         success: function (data) {  
           $("#id_categorie").html(data);  
         }
       }); 
     });

     $("#id_categorie").change(function () {
       var url = $("#curativeFilter").attr("data-equipement-url");  
       var categorieid = $(this).val();   
       $.ajax({                       
         url: url,                    
         data: {
           'categorieid': categorieid       
         },
         success: function (data) {  
           $("#id_equipement").html(data);  
         }
       }); 
     });
 
 
 
 
 
 </script>



{% endblock footer %}
