{% extends "dashboard/base.html"%}
{% load static%} 
{% load crispy_forms_tags %}

{% block title %}
<a class="nav-link waves-effect waves-dark"  href="{% url 'sites' %}" >                  
  <span class="d-none d-md-block text-uppercase ">{{site.designation}}</span>
</a>
{% endblock title %}

{% block content %}
<!-- ============================================================== -->
<!-- Tab Section -->
<!-- ============================================================== -->
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <!-- Nav tabs -->
      <ul class="nav nav-pills flex-column flex-sm-row" role="tablist">
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="{% url 'sitehome' site.id %}">
            <span><i data-feather="grid" class="feather-sm fill-white mb-1" ></i> Tableau de Bord</span>
          </a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <div class="btn-group btn-group-sm" role="group">
            <a
              id="btnGroupDrop1"
              type="button"
              class="nav-link active dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span><i data-feather="check-square" class="feather-sm fill-white mb-1" ></i> Maintenance Site </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a
                class="dropdown-item text-primary"
                href="{% url 'curative' site.id %}"
              >
                <span>Maintenance Curative</span>
              </a>
              <a
                class="dropdown-item text-primary"
                href="{% url 'preventive' site.id %}"
              >
                <span>Maintenance Préventive</span>
              </a>
              <a
                class="dropdown-item text-primary"
                href="{% url 'ronde' site.id %}"
              >
                <span>Suivi Financier</span>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="{% url 'ronde' site.id %}">
            <span><i data-feather="check-circle" class="feather-sm fill-white mb-1" ></i> Rondes Techniques</span>
          </a>
        </li>      
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="{% url 'stock' site.id %}">
            <span><i data-feather="edit" class="feather-sm fill-white mb-1" ></i> Demande Intervention</span>
          </a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link " href="{% url 'detailsite' site.id %}">
            <span><i data-feather="sliders" class="feather-sm fill-white mb-1" ></i> Administration</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb border-bottom">
    <div class="row">
        <div class=" col-lg-3 col-md-4 col-xs-12 justify-content-start d-flex align-items-center ">
            <h5 class="font-weight-medium text-uppercase mb-0">{{site.designation}}</h5>
        </div>
        <div class=" col-lg-9 col-md-8 col-xs-12 d-flex justify-content-start justify-content-md-end align-self-center " >
            <nav aria-label="breadcrumb" class="mt-2">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">Maintenance Site</li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Maintenance Curative
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Nouveau
                    </li>
                </ol>
            </nav>
        </div>
    </div>
  </div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="page-content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form id="curativeForm" method="post" data-souslot-url="{% url 'loadsouslot' %}" data-categorie-url="{% url 'loadcategorie' %}" data-equipement-url="{% url 'loadequipement' %}">
            {% csrf_token %}
            <h5 class="mb-3 pt-3">Informations Générales </h5>
            <div class="row pt-3">
              <div class="col-md-2">
                <div class=" ">
                  {{form.criticite|as_crispy_field}}                
                </div>
              </div>
              <div class="col-md-10">
                  <div class="">
                    {{form.objet|as_crispy_field}}
                  </div>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-6">
                <label for="disabledTextInput1">Site *</label>
                <input
                  type="text"
                  id="disabledTextInput1"
                  class="form-control"
                  placeholder="{{site.designation}}"
                  disabled
                />
              </div>
              <div class="col-md-6">
                  <div class="">
                    {{form.zone|as_crispy_field}}
                  </div>
              </div>                
            </div>
            <h5 class="mt-3 pb-3 pt-3 border-top">Equipement </h5>
            <div class="row mb-3 pt-3">
              <div class="col-md-3">
                <div class=" ">
                  {{form.lot|as_crispy_field}}                
                </div>
              </div>
              <div class="col-md-3">
                  <div class="">
                    {{form.souslot|as_crispy_field}}
                  </div>
              </div>
              <div class="col-md-3">
                <div class=" ">
                  {{form.categorie|as_crispy_field}}                
                </div>
              </div>
              <div class="col-md-3">
                  <div class="">
                    {{form.equipement|as_crispy_field}}
                  </div>
              </div>
            </div>
            <h5 class="mt-3 pb-3 pt-3 border-top">Planification</h5>
            <div class="row pt-3">
              <div class="col-md-6">
                <label for="datedebut">Date Début Planifiée</label>
                <input
                  id="datedebut"
                  class="form-control"
                  type="datetime-local"
                />
              </div>
              <div class="col-md-6">
                <label for="datefin">Date Fin Planifiée </label>
                <input
                  id="datefin"
                  class="form-control"
                  type="datetime-local"
                />
              </div>
            </div>
            <div class="row pt-3">              
              <div class="col-md-6">
                <div class="mb-3 row">
                  <label class=""
                    >Intervenant</label
                  >
                  <div class="col-md-12">
                    <select class="form-control ">
                      <option value="">-------</option>
                      <option value="">Intervant 1</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label >PDR Planifiés </label>                
                <div id="education_fields" class=""></div>
                <div class="row" >
                  <div class="col-md-5">
                    <div class="mb-3" >
                      <select class="form-control ">
                        <option value="">-------</option>
                        <option value="">Article 1</option>                        
                        <option value="">Article 2</option>                                                
                        <option value="">Article 3</option>
                      </select>
                    </div>
                  </div>                
                  <div class="col-md-5">
                    <div class="mb-3">
                      <input
                          type="text"
                          class="form-control"
                          id="Schoolname"
                          name="Schoolname"
                          placeholder="Quantité"
                      />
                    </div>
                  </div>                  
                  <div class="col-sm-2">
                    <div class="mb-3">
                      <button
                        onclick="education_fields();"
                        class="
                          btn
                          btn-sm
                          btn-text
                          text-success
                          font-weight-medium
                          waves-effect waves-light
                        "
                        type="button"
                      >
                        <i
                          data-feather="plus-circle"
                          class="feather-sm fill-white"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h5 class="mt-3 pb-3 pt-3 border-top">Suivi </h5>
            <div class="row pt-3">            
              <div class="col-md-4">
                <div class=" ">
                  {{form.statut|as_crispy_field}}                
                </div>
              </div>
              <div class="col-md-4">
                <label for="datedebut">Date et Heure Début </label>
                <input
                  id="datedebut"
                  class="form-control"
                  type="datetime-local"
                />
              </div>
              <div class="col-md-4">
                <label for="datefin">Date et Heure Fin  </label>
                <input
                  id="datefin"
                  class="form-control"
                  type="datetime-local"
                />
              </div>
            </div>
            <div class="row pt-3">              
              <div class="col-md-6">
                <div class="mb-3 row">
                  <label class=""
                    >Intervenant</label
                  >
                  <div class="col-md-12">
                    <select class="form-control ">
                      <option value="">-------</option>
                      <option value="">Intervant 1</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label >PDR </label>                
                <div id="education_fields" class=""></div>
                <div class="row" >
                  <div class="col-md-5">
                    <div class="mb-3" >
                      <select class="form-control ">
                        <option value="">-------</option>
                        <option value="">Article 1</option>                        
                        <option value="">Article 2</option>                                                
                        <option value="">Article 3</option>
                      </select>
                    </div>
                  </div>                
                  <div class="col-md-5">
                    <div class="mb-3">
                      <input
                          type="text"
                          class="form-control"
                          id="Schoolname"
                          name="Schoolname"
                          placeholder="Quantité"
                      />
                    </div>
                  </div>                  
                  <div class="col-sm-2">
                    <div class="mb-3">
                      <button
                        onclick="education_fields();"
                        class="
                          btn
                          btn-sm
                          btn-text
                          text-success
                          font-weight-medium
                          waves-effect waves-light
                        "
                        type="button"
                      >
                        <i
                          data-feather="plus-circle"
                          class="feather-sm fill-white"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>              
            <h5 class="mt-3 pb-3 pt-3 border-top">Suivi Financier</h5>
            <div class="row">                
              <div class="col-md-6">
                <label for="devis">Coût Intervention</label>
                <div class="mb-3">
                  <input
                      type="text"
                      class="form-control"
                      placeholder="Coût"
                  />
                </div>
              </div>               
              <div class="col-md-6">
                <label for="devis">Piéces jointes</label>
                <div class="mb-3">
                  <input type="file" class="form-control" name="" id="">
                </div>
              </div>
            </div>     
            <h5 class="mb-3 mt-3 pb-3 pt-3 border-top">Images </h5>
            <div class="row">
              <div class="col-md-6">
                <div class=" ">
                  {{form.imagear|as_crispy_field}}                
                </div>
              </div>              
              <div class="col-md-6">
                <div class=" ">
                  {{form.imagepr|as_crispy_field}}                
                </div>
              </div>
            </div>
            <h5 class="mt-3 pb-3 pt-3 border-top">Informations Complémentaires </h5>      
            <div class="row" >                                   
              <div class="col-md-6">
                <label for="devis">Description de la cause </label>
                <div class="mb-3">
                  {{form.description}}
                </div>
              </div>     
              <div class="col-md-6">
                <label for="devis">Effet sur équipement/ouvrage </label>
                <div class="mb-3">
                  {{form.description}}
                </div>
              </div>  
            </div>
            <div class="form-actions">
              <div class="card-body">              
                <div class="d-flex align-items-center p-4">
                  <div class="ms-auto">
                    <button type="submit" class="btn btn-success rounded-pill px-4 float-right" >
                      <div class="d-flex align-items-center">
                        <i data-feather="save" class="feather-sm me-1 fill-icon" ></i> Enregistrer
                      </div>
                    </button>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->

{% endblock content %}

{% block footer %}
<script src="{% static 'dashboard/assets/libs/jquery.repeater/jquery.repeater.min.js' %}"></script>
<script src="{% static 'dashboard/assets/extra-libs/jquery.repeater/repeater-init.js' %}"></script>
<script src="{% static 'dashboard/assets/extra-libs/jquery.repeater/dff.js' %}"></script>

<script type="text/javascript">

  $("#id_lot").change(function () {
       var url = $("#curativeForm").attr("data-souslot-url");  
       var lotid = $(this).val();   
       $.ajax({                       
         url: url,                    
         data: {
           'lotid': lotid       
         },
         success: function (data) {  
           $("#id_souslot").html(data);  
         }
       }); 
     });
 
     $("#id_souslot").change(function () {
       var url = $("#curativeForm").attr("data-categorie-url");  
       var souslotid = $(this).val();   
       $.ajax({                       
         url: url,                    
         data: {
           'souslotid': souslotid       
         },
         success: function (data) {  
           $("#id_categorie").html(data);  
         }
       }); 
     });

     $("#id_categorie").change(function () {
       var url = $("#curativeForm").attr("data-equipement-url");  
       var categorieid = $(this).val();   
       $.ajax({                       
         url: url,                    
         data: {
           'categorieid': categorieid       
         },
         success: function (data) {  
           $("#id_equipement").html(data);  
         }
       }); 
     }); 
 </script>

{% endblock footer %}
