{% extends "dashboard/base.html"%}
{% load static%} 
{% block title %}
<a class="nav-link waves-effect waves-dark"  href="{% url 'sites' %}" >                  
  <span class="d-none d-md-block text-uppercase ">{{site.designation}}</span>
</a>
{% endblock title %}
{% block content %}
<!-- ============================================================== -->
<!-- Tab Section -->
<!-- ============================================================== -->
<div class="col-md-12">         
  <div class="card">
    <div class="card-body">
      <!-- Nav tabs -->
      <ul class="nav nav-pills flex-column flex-sm-row" role="tablist" >
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link " href="{% url 'sitehome' site.id %}" >
            <span><i class="mdi mdi-view-dashboard"></i> Tableau de Bord</span>
          </a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="{% url 'curative' site.id %}" >
            <span><i class="mdi mdi-clipboard-alert"></i>  Maintenance Curative</span>
          </a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link" href="{% url 'preventive' site.id %}" >
            <span><i class="mdi mdi-calendar "></i> Maintenance Préventive</span>
          </a>
        </li>          
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link " href="{% url 'ronde' site.id %}" >
            <span><i class="mdi mdi-checkbox-marked-circle-outline "></i> Ronde Maintenance</span>
          </a>
        </li>
        <li class="nav-item flex-sm-fill text-sm-center">
          <a class="nav-link active" href="{% url 'stock' site.id %}" >
            <span><i class="mdi mdi-layers"></i>  Gestion Stock</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb border-bottom">
  <div class="row">
      <div class=" col-lg-3 col-md-4 col-xs-12 justify-content-start d-flex align-items-center ">
          <h5 class="font-weight-medium text-uppercase mb-0">{{site.designation}}</h5>
      </div>
      <div class=" col-lg-9 col-md-8 col-xs-12 d-flex justify-content-start justify-content-md-end align-self-center " >
          <nav aria-label="breadcrumb" class="mt-2">
              <ol class="breadcrumb mb-0 p-0">
                  <li class="breadcrumb-item">Sites</li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Gestion de Stock
                  </li>
              </ol>
          </nav>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="page-content container-fluid">
{% if messages %}
  {% for message in messages%}
    <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

  <!-- Liste des interventions  -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card ">
      </div>
    </div>
  </div>

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->

{% endblock content %}

{% block footer %}

{% endblock footer %}
